<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Qiewie</title>
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css"></link>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

	<header class="primary-header">
		<a href="#" class="logo"><img class="logo" src="images/Qiewie-horizontal-logo-color (1).svg" alt="Qiewie"></a>
		<div>

			<div>
				<div><i class="fa fa-bar-chart"></i> <h1 id="title">Overview</h1></div>
				<div><i class="fa fa-search"></i> <input type="text" placeholder="Search"></div>
			</div>

			<div>
				<img class="profile-pic" src="https://www.qiewie.com/images/HS-Tyler-Coyner.jpg" alt="">
				<span><h1>Tyler</h1> <i class="fa fa-bars"></i></span>
			</div>
			
		</div>
	</header>

	<main>
		<aside>
			<a href="#" class="selected"><i class="fa fa-globe"></i> <h2>Overview</h2></a>
			<a href="/#/social_media"><i class="fa fa-comments"></i> <h2>Social Media</h2></a>
			<a href="/#/financial"><i class="fa fa-money"></i> <h2>Financial</h2></a>
			<a href="/#/user_tracking"><i class="fa fa-eye"></i> <h2>User Tracking</h2></a>
			<a href="/#/web_services"><i class="fa fa-database"></i> <h2>Web Services</h2></a>
		</aside>
		<section>
			{{{primary}}}
			{{{secondary}}}
			{{{tertiary}}}
		</section>
	</main>

	<script src="build/bundle.js"></script>

</body>
</html>
