.primary-header {
	background-color: #f4f4f4;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	padding: 0 8px;
	font-size: 21px;
	box-shadow: 0 1px 8px rgba(0,0,0,.3);
	overflow: hidden;
	z-index: 2;

	> div {
		display: flex;
		align-items: center;
		height: 56px;

		.navigation {
			height: 48px;
			width: 48px;
			text-align: center;
			position: relative;

			span {
				position: relative;
				display: inline-block;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;

			}
		}

		.home {
			flex: 1;
			margin-left: 12px;

			img {
				width: 98px;
				height: 46px;
				margin-top: 4px;
				cursor: pointer;
			}
		}

		.search {
			align-items: center;

			div:first-child {
				display: none;
			}

			input {
				display: none;
			}
			
		}

		.search .fa-search {
			width: 44px;
			height: 44px;
			padding: 8px;
			margin: 0 8px;
			font-size: 27px;
			cursor: pointer;
		}

		.account div {
			display: none;
		}

		a img {
			display: inline-block;
			width: 30px;
			height: 30px;
			margin: 8px;
			border-radius: 50%;
		}

	}

}

@media screen and (min-width: 440px) {
	.primary-header {
		position: absolute;
	}
}

@media screen and (min-width: 850px) {
	.primary-header {
		padding: 0 30px 0 0;

		> div {
			color: #ABABAB;
			.navigation {
				display: none;
			}

			.home {
				flex: initial;
				display: inline-block;
				margin: 0;
				height: 100%;
				width: 17.278%;
				background-color: #2a2a2a;

				img {
					width: 69%;
					height: calc(100% - 4px);
					margin: 4px 0 0 15px;
					cursor: pointer;
				}
			}

			.search {
				flex: 1;
				display: flex;
				padding: 0 30px;
				height: 100%;
				border-right: 1px solid;

				.fa-search {
					width: 37px;
					height: 37px;
					padding: 8px;
					font-size: 20px;
				}

				input {
					display: initial;
					width: 48px;
					border: none;
					background-color: #f4f4f4;
					font-size: 15px;
					transition: width 0.5s;
				}

				input:focus {
					outline: none;
				}

				.search-active {
					width: 45%;
					transition: width 2s;
				}

				div:first-child {
					display: initial;
					flex: 1;
				}

				div:last-child {
					flex: 1;
					text-align: right;
				}
			}

			.account {
				width: 150px;
				padding-left: 15px;

				a {
					float: left;
				}

				img.profile-pic {
					height: 40px;
					width: 40px;
				}

				div {
					display: inline-block;
					margin: 20px 0 0 5px;
				}
			}
		}
	}

	.primary-header .search {
		div:first-child {

			h1 {
				display: inline-block;
				color: #515151;
			}

		}
	}

}

@media screen and (min-width: 1090px) {
	.primary-header > div .home {
		width: 14.628%;
	}
}