body {
	background-color: #e4e4e4;
}

.active-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.55);
}

main {
	margin-top: 56px;
	text-align: center;
}

aside {
	display: none;
}

section {
	
	.components {
		margin: 0;
		background: radial-gradient(#f4f4f4, #f1f1f1);
		box-shadow: 0 1px 8px rgba(0,0,0,.3);
	}
}

@media screen and (min-width: 440px) {
	main {
		margin-top: calc(56px + (16px));
	}

	section {
		display: inline-block;
		width: calc(100% - 2*16px);
	}
}

@media screen and (min-width: 700px) {
	main {
		padding: initial;
	}
}

@media screen and (min-width: 850px) {
	main {
		display: flex;
		margin-top: $header-height;
	}

	aside {
		display: initial;
		flex: 1;
	}

	section {
		flex: 6;

		.components {
			margin: $component-margin;
		}
	}
}

@media screen and (max-width: 1090px) {
	section {
		flex: 5;
	}
}