.secondary-components {
	min-height: 210px;

	header {
		padding: 12px;
		margin: 0 12px;
		border-bottom: 1px solid #DFDFDF;
		font-size: 20px;
		font-weight: bold;
		color: #656262;
	}

	.component-container {
		display: flex;
		flex-direction: column;
		padding: 30px;
	}

	.component {
		min-height: 105px;
		flex: 1;
		text-align: right;
		white-space: nowrap;
	}
}

.secondary-components .component {

	.statistics {
		text-align: left;
		padding: 0 10px 10px 10px;
		border-bottom: 2px solid;
		border-left: 2px solid;
	}

	h2 {
		font-size: 30px;
		font-weight: bold;
		color: #727272;
	}

	.fa {
		color: #3CB66E;
		margin-right: 5px;
	}

	h1 {
		margin-left: 5px;
		font-weight: bold;
		font-size: 18px;
		color: #ABABAB;
	}

	a {
		background-color: #2a2a2a;
		display: inline-block;
		padding: 6px 30px;
		margin-top: 10px;
	}

	span {
		display: inline-block;
	}
}

@media screen and (min-width: 440px) {
	main .secondary-components {
		background-color: #f4f4f4;
		margin: 16px 0;
	}
}

@media screen and (min-width: 775px) {
	.secondary-components .component-container{
		flex-direction: row;
		* + * {
			margin-left: $component-margin;
		}

		h1 {
			margin-left: 5px;
		}

	}
}

@media screen and (min-width: 850px) {
	main .secondary-components {
		margin: 0 30px;
	}
}