section .tertiary-components {
	box-shadow: initial;
	background: #E4E4E4;

	> div {
		background-color: #F4F4F4;
	}
}


.tertiary-header {
	background-color: #2a2a2a;
	font-size: 20px;
	font-weight: bold;
	color: #DFDFDF;

	h1 {
		text-align: center;
		padding: 8px 0;
	}
}

#map {
	height: 400px;
}

@media screen and (min-width: 440px) {
	.tertiary-components > div {
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);

		&:last-child {
			margin: 16px 0;
		}
	}

}

@media screen and (min-width: 880px) {
	.tertiary-components {
		display: flex;

		> div:first-child, > div:last-child {
			flex: 1;
		}

		> div:last-child {
			margin: 0 0 0 30px;
		}
	}
}