<div class="primary-components components">

	<div class="component">
		<header>
			<h1>Premium Subscriptions Sold</h1>
		</header>
		<div id="statistics">{{premium}}</div>
		<div class="outer-border">
			<div class="icon">
				<i class="fa fa-thumbs-up"></i>
			</div>
		</div>
		<a href="">View</a>
	</div>

	<div class="component">
		<header>
			<h1>Corporate Subscriptions Sold</h1>
		</header>
		<div id="statistics">{{corporate}}</div>
		<div class="outer-border">
			<div class="icon">
				<i class="fa fa-building-o"></i>
			</div>
		</div>
		<a href="">View</a>
	</div>

	<div class="component">
		<header>
			<h1>Municipal Subscriptions Sold</h1>
		</header>
		<div id="statistics">{{municipal}}</div>
		<div class="outer-border">
			<div class="icon">
				<i class="fa fa-university"></i>
			</div>
		</div>
		<a href="">View</a>
	</div>

</div>