<div class="secondary-components components">

	<header>Social Analytics</header>

	<div class="component-container">

		<div class="component">
			<div class="statistics">
				<h2>{{numTweets}}</h2>
				<h1><i class="fa fa-twitter-square"></i> #Qiewie <span>Tweets</span></h1>
			</div>
			<a href="">View</a>
		</div>

		<div class="component">
			<div class="statistics">
				<h2>{{numLikes}}</h2>
				<h1><i class="fa fa-facebook-square"></i> Facebook <span>Likes</span></h1>
			</div>
			<a href="">View</a>
		</div>

		<div class="component">
			<div class="statistics">
				<h2>{{newUsers7Days}}</h2>
				<h1><i class="fa fa-users"></i> New Users <span>(7 days)</span></h1>
			</div>
			<a href="">View</a>
		</div>

	</div>

</div>