
<div class="tertiary-components components">

	<div>
		<header class="tertiary-header">
			<h1>Logged in Users</h1>
		</header>
		<div id="chart" class="component"></div>
	</div>

	<div>
		<header class="tertiary-header">
			<h1>Where Are They?</h1>
		</header>
		<div id="map" class="component"></div>
	</div>
	
</div>