
<div class="tertiary-components components">

	<header class="tertiary-header">User Analytics</header>

	<div class="component-container">

		<div>
			<div id="chart" class="component"></div>
			<header>
				<h1>Logged in Users</h1>
			</header>
		</div>

		<div>
			<div id="map" class="component"></div>
			<header>
				<h1>Where are they?</h1>
			</header>
		</div>

	</div>
	
</div>